@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	background:#001122;
}
#header{
	height:60px;
	background:#047;
	margin:auto;
	width:80%;
	border-right:1px solid #09C;
	border-left:1px solid #09C;
	border-bottom:1px solid #09C;
	margin-bottom:15px;
}
#header img{
	height:60px;
	width:auto;
	border:0px;
	margin-left:20px;
}
#header ul{
	list-style:none;
	float:right;
}
#header ul li{
	display:inline;
}
#header ul li a{
	text-decoration:none;
	color:#eee;	
	font-weight:bold;
	padding:24px;
	text-shadow:0px 0px 25px #fff;
}
#header ul li a:hover{
	text-shadow:0px 0px 7px #fff;
	color:#FFF;	
	background:#069;
}
#wrap{
	margin:auto;
	background:#eee;
	width:80%;
	min-height:500px;
	border:1px solid #09C;
	position:relative;
}
#wrap .login_register{
	margin:auto;
	padding-top:80px;

}
#wrap .login_register tr td:first-child{
	text-align:right;
}
#wrap .login_register .info{
	font-size:18px;
	font-weight:bold;
}
#wrap .login_register img{
	background:#fff;
	width:180px;
	height:150px;
	border:4px solid #eee;
	box-shadow:0px 0px 2px #047;
}
#wrap .login_register .done{
	height:50px;
	width:auto;
	border:none;
	box-shadow:none;
	background:none;
}
#wrap .login_register .done:hover{
	border:none;
	box-shadow:none;
	cursor:default;
}
#wrap .login_register img:hover{
	border:4px solid #ccc;
	box-shadow:0px 0px 2px #000;
	cursor:pointer;
}
#result{
	background:#FFC;
	border:1px solid #7a2;
	padding:10px;
	margin:30px 100px 0px 100px;;
	text-align:center;
	visibility:hidden;

}
#slider{
	height:310px;
	border:1px solid #CC0;
	background:#9C3;
	padding:0px;
	color:#FFF;
	box-shadow:-0px -0px 5px #999;
}
#slider img{
	height:271px;
	width:auto;
	border:5px solid #fff;
	box-shadow:0 0 3px #333;
	margin:10px;
	float:left;
}
#slider h1{
	font-size:38px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#fff;
	text-shadow:0px 1px 3px #333;
	padding-left:10px;
}
#exam_details{
	height:50px;
	border:1px solid #9C3;
	background:#7a2;
	padding:0px;
	box-shadow:-0px -0px 5px #999;
}
#exam_details h1{
	color:#fff;
	font-size:28px;
	text-shadow:0px 0px 12px #fff;
	margin:7px 5px 5px 20px;
	float:left;
}
#exam_details #time{
		visibility:hidden;
}
#exam_details #time #timer{
	color:#fff;
	float:right;
	font-size:36px;
	text-shadow:0px 0px 3px #ccc;
	margin:5px 10px 5px 5px;

}
#Q_counter{
	border-right:1px solid #9C3;
	float:left;
	width:50px;
	height:447px;
	text-align:center;
	visibility:hidden;
}
#Q_counter ul{
	list-style:none;
	margin:2px;
	margin-top:5px;
	text-align:center;
	float:right;
	padding-right:5px;
}
#Q_counter ul li{
	padding:3px 0 3px 0;
	margin:0px;
	margin-top:4px;
	background:#9C3;
	box-shadow:0px 0px 2px #333;
	border-radius:5px;
}
#Q_counter ul li a{
	padding:8px;
	text-decoration:none;
	text-align:center;
	height:18px;
	width:18px;
	color:#fff;
}
#Q_counter ul li a:hover{
	font-weight:BOLD; 
}
#current_question{
	
	color:#047;
	padding:10px 20px 20px 70px;
	text-shadow:1px 1px 2px #999;
	
}
#current_question p{
	font-size:22px;
	margin-right:50px;
	text-align:justify;
}
#current_question h1{
	font-family:tahoma;
	font-size:32px;
	font-weight:normal;
	
}
#current_question span{
	font-size:21px;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:10px;
	color:#7a2;
	text-shadow:1px 1px 1px #000;
	font-weight:normal;
}
#controls{
	padding:20px;
	border-top:1px solid #9C3;
	margin:0px 0px 0px 51px;	
	background:#DDD;
	position:absolute;
	bottom:0px;
	BOX-SHADOW:0px -1px 3px #999;
	width:728px;
	visibility:hidden;

}
#footer{
	height:30px;
	background:#047;
	margin:auto;
	width:80%;
	border-right:1px solid #09C;
	border-left:1px solid #09C;
	border-bottom:1px solid #09C;
	text-align:right;
	padding-top:15px;
	color:#ccc;
	font-size:11px;
}
#footer span{
	margin-right:20px;
}
#footer a{
	text-decoration:none;
	color:#ddd;	
}
#footer  a:hover{
	color:#eee;	
	text-decoration:underline;
}
.buttons{
	background:#069;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	width:100px;
	padding:7px;
	border:1px solid #CCC;
	float:right;
	margin:10px;
	box-shadow:0px 0px 5px #999
}
.buttons:hover{
	background:#07a;
	
}
.inputs:focus{
	border:1px solid #999;

}
.inputs{
	padding:7px;
	border:1px solid #CCC;
	width:250px;
	border-radius:7px;
}